<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/favicon.ico">

    <title>Social Media Data</title>

    <!-- Vendors Style-->
    <link rel="stylesheet" href="../css/vendors_css.css">

    <!-- Style-->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/skin_color.css">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script>
        function getParameterByName(name, url = window.location.href) {
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
        function getWS_ContentInbox(flagto, value, singleID) {

            console.log("Go to ContentInbox Value: " + value);
            $("#LoaderPage").show();
            $("#HTMLcontent_inbox").hide();
            $("#HTMLcontent_inboxComment").empty();
        
            $("#txtRecipientID").val(singleID);
        
            var jsonText;
        
            var HTMLcontent_header_inbox = $("#HTMLcontent_header_inbox");
            var HTMLcontent_inbox = $("#HTMLcontent_inbox");
        
            /*console.log("Nama Channel : " & "");
            $("#txtNameSM").val("");*/
            jsonText = JSON.stringify({ FlagTo: flagto, postid: value });
            console.log("Nama Channel : " + jsonText + "");
            $.ajax({
                type: "POST",
                url: "../3_Channel_Sosmed.asmx/GetDataContentInbox",
                data: jsonText,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var json = JSON.parse(data.d);
                    var i, x, resultListContentInboxSocialMedia = "", resultListContentHeaderSocialMedia = "";
                    HTMLcontent_header_inbox.empty();
                    HTMLcontent_inbox.empty();
                    x = 0;
                    for (i = 0; i < json.length; i++) {
                        //alert(json[i].UserCreate);
                        //x=0;
                        var stringMessages = json[i].Messages;
                        var stringName = json[i].ProfileName;
                        var stringDate = json[i].DateGetSosmed;
                        var stringStatusType = json[i].StatusType;
                        var stringTotal = json[i].Total;
                        var likes_count = json[i].Likes;
                        if (likes_count == "") {
                            likes_count = 0;
                        } else {
                            likes_count = likes_count;
                        }
                        console.log("Nama Channel : " + stringName);
                        $("#txtNameSM").val(stringName);
                        if (flagto == "msg") {
                            if (x==0) {
                                resultListContentHeaderSocialMedia = '<div class="media align-items-top p-0">' +
                                    '<!--<a class="avatar avatar-lg status-success mx-0" href="#">' +
                                    '<img src="../images/avatar/2.jpg" class="rounded-circle" alt="...">' +
                                    '</a>-->' +
                                    '<div class="d-lg-flex d-block justify-content-between align-items-center w-p100">' +
                                    '<div class="media-body mb-lg-0 mb-20">' +
                                    '<p class="font-size-16">' +
                                    '<a class="hover-primary" href="#"><strong>' + stringName + '</strong></a>' +
                                    '</p>' +
                                    '<p class="font-size-12">' + stringDate + '</p>' +
                                    '</div>' +
                                    '<div>' +
                                    '<!--<ul class="list-inline mb-0 font-size-18">' +
                                    '<li class="list-inline-item"><a onclick="showActionDo(\'Done\',\'' + getParameterByName('flagto') + '\',\'' + json[i].HeaderSosmed + '\',\'' + json[i].IDTable + '\',\'' + json[i].ProfileID + '\')" class="hover-primary"><img src="done.png" alt="Mark as done"></a></li>' +
                                    '<li class="list-inline-item"><a onclick="showActionDo(\'Trash\',\'' + getParameterByName('flagto') + '\',\'' + json[i].HeaderSosmed + '\',\'' + json[i].IDTable + '\',\'' + json[i].ProfileID + '\')" class="hover-primary"><img src="trash.png" alt="Delete conversation"></a></li>' +
                                    '<li class="list-inline-item"><a onclick="showActionDo(\'Spam\',\'' + getParameterByName('flagto') + '\',\'' + json[i].HeaderSosmed + '\',\'' + json[i].IDTable + '\',\'' + json[i].ProfileID + '\')" class="hover-primary"><img src="spam.png" alt="Mark as spam"></a></li>' +
                                    '<!--<li class="list-inline-item"><a onclick="showActionDo(\'Star\',\'' + getParameterByName('flagto') + '\',\'' + json[i].HeaderSosmed + '\',\'' + json[i].IDTable + '\',\'' + json[i].ProfileID + '\')" class="hover-primary"><img src="star.png" alt="Mark as follow up"></a></li>-->' +
                                    '<li class="list-inline-item"><a onclick="showActionDo(\'Messenger\',\'' + getParameterByName('flagto') + '\',\'' + json[i].HeaderSosmed + '\',\'' + json[i].IDTable + '\',\'' + json[i].ProfileID + '\')" class="hover-primary"><img src="messengerfb.png"  width="24" alt="Send Inbox"></a></li>' +
                                    '<li class="list-inline-item"><a onclick="showActionDo(\'Ticket\',\'' + getParameterByName('flagto') + '\',\'' + json[i].HeaderSosmed + '\',\'' + json[i].IDTable + '\',\'' + json[i].ProfileID + '\')" class="hover-primary"><img src="ticket.png" alt="Create Ticket"></a></li>' +
                                    '</ul>-->' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>';
                                x = json.length;
                                HTMLcontent_header_inbox.append(resultListContentHeaderSocialMedia);
                            }
                        } else {
                            resultListContentHeaderSocialMedia = '<div class="media align-items-top p-0">' +
                                '<!--<a class="avatar avatar-lg status-success mx-0" href="#">' +
                                '<img src="../images/avatar/2.jpg" class="rounded-circle" alt="...">' +
                                '</a>-->' +
                                '<div class="d-lg-flex d-block justify-content-between align-items-center w-p100">' +
                                '<div class="media-body mb-lg-0 mb-20">' +
                                '<p class="font-size-16">' +
                                '<a class="hover-primary" href="#"><strong>' + stringName + '</strong></a>' +
                                '</p>' +
                                '<p class="font-size-12">' + stringDate + '</p>' +
                                '</div>' +
                                '<div>' +
                                '<!--<ul class="list-inline mb-0 font-size-18">' +
                                '<li class="list-inline-item"><a onclick="showActionDo(\'Done\',\'' + getParameterByName('flagto') + '\',\'' + json[i].HeaderSosmed + '\',\'' + json[i].IDTable + '\',\'' + json[i].ProfileID + '\')" class="hover-primary"><img src="done.png" alt="Mark as done"></a></li>' +
                                '<li class="list-inline-item"><a onclick="showActionDo(\'Trash\',\'' + getParameterByName('flagto') + '\',\'' + json[i].HeaderSosmed + '\',\'' + json[i].IDTable + '\',\'' + json[i].ProfileID + '\')" class="hover-primary"><img src="trash.png" alt="Delete conversation"></a></li>' +
                                '<li class="list-inline-item"><a onclick="showActionDo(\'Spam\',\'' + getParameterByName('flagto') + '\',\'' + json[i].HeaderSosmed + '\',\'' + json[i].IDTable + '\',\'' + json[i].ProfileID + '\')" class="hover-primary"><img src="spam.png" alt="Mark as spam"></a></li>-->' +
                                '<!--<li class="list-inline-item"><a onclick="showActionDo(\'Star\',\'' + getParameterByName('flagto') + '\',\'' + json[i].HeaderSosmed + '\',\'' + json[i].IDTable + '\',\'' + json[i].ProfileID + '\')" class="hover-primary"><img src="star.png" alt="Mark as follow up"></a></li>-->' +
                                '<!--<li class="list-inline-item"><a onclick="showActionDo(\'Messenger\',\'' + getParameterByName('flagto') + '\',\'' + json[i].HeaderSosmed + '\',\'' + json[i].IDTable + '\',\'' + json[i].ProfileID + '\')" class="hover-primary"><img src="messengerfb.png" width="24" alt="Send Inbox"></a></li>' +
                                '<li class="list-inline-item"><a onclick="showActionDo(\'Ticket\',\'' + getParameterByName('flagto') + '\',\'' + json[i].HeaderSosmed + '\',\'' + json[i].IDTable + '\',\'' + json[i].ProfileID + '\')" class="hover-primary"><img src="ticket.png" alt="Create Ticket"></a></li>' +
                                '</ul>-->' +
                                '</div>' +
                                '</div>' +
                                '</div>';
                            HTMLcontent_header_inbox.append(resultListContentHeaderSocialMedia);
                        }
        
                        if (flagto == "msg") {
                            if (json[i].StatusType == "FacebookMsg") {
                                if (json[i].ProfileID == $("#SM_AccountID").val()) {
                                    resultListContentInboxSocialMedia =
                                        '<div class="card d-inline-block mb-3 float-right mr-2 no-shadow bg-lighter max-w-p80">' +
                                        '<div class="position-absolute pt-1 pr-2 r-0">' +
                                        '<span class="text-extra-small text-muted">' + json[i].DateGetSosmed +'</span>' +
                                        '</div>' +
                                        '<div class="card-body">' +
                                        '<div class="d-flex flex-row pb-2">' +
                                        '<div class="d-flex flex-grow-1 min-width-zero">' +
                                        '<div class="m-2 pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between">' +
                                        '<div class="min-width-zero">' +
                                        '<p class="mb-0 font-size-16 text-dark">Agent</p>' +
                                        '</div>' +
                                        '</div>' +
                                        '</div>' +
                                        '</div>' +
                                        '<div class="chat-text-left pl-5">' +
                                        '<p class="mb-0 text-semi-muted">' + stringMessages + '</p>' +
                                        '</div>' +
                                        '</div>' +
                                        '</div><div class="clearfix"></div>';
                                } else {
                                    resultListContentInboxSocialMedia =
                                        '<div class="card d-inline-block mb-3 float-left mr-2 no-shadow bg-lighter max-w-p80">' +
                                        '<div class="position-absolute pt-1 pr-2 r-0">' +
                                        '<span class="text-extra-small text-muted">' + json[i].DateGetSosmed +'</span>' +
                                        '</div>' +
                                        '<div class="card-body">' +
                                        '<div class="d-flex flex-row pb-2">' +
                                        '<div class="d-flex flex-grow-1 min-width-zero">' +
                                        '<div class="m-2 pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between">' +
                                        '<div class="min-width-zero">' +
                                        '<p class="mb-0 font-size-16 text-dark">Customer</p>' +
                                        '</div>' +
                                        '</div>' +
                                        '</div>' +
                                        '</div>' +
                                        '<div class="chat-text-left pl-5">' +
                                        '<p class="mb-0 text-semi-muted">' + stringMessages + '</p>' +
                                        '</div>' +
                                        '</div>' +
                                        '</div><div class="clearfix"></div>';
                                }
                            } else {
                                resultListContentInboxSocialMedia =
                                    '<div class="box-body bb-1 border-fade"> ' +
                                    '<img style="width:350px" src="' + stringMessages + '" class="img-fluid""> ' +
                                    '</div>';
                            }
                          
                        } else {
                            resultListContentInboxSocialMedia =
                                '<div class="box-body bb-1 border-fade"> ' +
                                '<p class="lead font-size-16">' + stringMessages + '</p> ' +
                                '<div style="width:350px" id="HTMLContent_Photo"></div>' +
                                '<div class="gap-items-4 mt-10"> ' +
                                '<!--<a class="text-fade hover-light" href="#"> ' +
                                '<i class="fa fa-heart mr-1"></i> ' + likes_count + ' ' +
                                '</a>--> ' +
                                '<a class="text-fade hover-light" href="#" onclick="getWS_ContentInboxComment(\'' + getParameterByName('flagto') + '\',\'' + json[i].HeaderSosmed + '\')"> ' +
                                '<i class="fa fa-comment mr-1"></i> ' + stringTotal + ' ' +
                                '</a> ' +
                                '<!--<a onclick="showActionDo(\'Reply\',\'' + getParameterByName('flagto') + '\',\'' + json[i].HeaderSosmed + '\',\'' + json[i].IDTable + '\')" class="text-fade hover-light" href="#">' +
                                '<i class="fa fa-reply mr-1"></i>' +
                                '</a>-->' +
                                '</div>' +
                                '</div>';
                        }
                        $("#LoaderPage").hide();
                        HTMLcontent_inbox.show();
                        HTMLcontent_inbox.append(resultListContentInboxSocialMedia);
        
                    }
                    if (flagto!="msg") {
                    getWS_PhotoSocialMedia(value);
                    }
                   
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    console.log(xmlHttpRequest.responseText);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            })
        
            //GET Comment from Customer Posting Facebook Page 
            //openNewBackgroundTabGETComment(value);
            //window.open("https://triciptaintegra.com/graphapi/cronsjob_comment.php?postid=" + value, '_blank');
            //End
        }
        function getWS_PhotoSocialMedia(val) {
            console.log("Photo Media : " + val);
            jsonText = JSON.stringify({ postid: val });
            var i, x, PhotoCarousel = "", PhotoCarouselHeader = "", CarouselSambung = "", CarouselEnd = "";
            var CarouselIndicators = "", CarouselFileURL = "";
            $("#HTMLContent_Photo").empty();
            var HTMLcontent_Photo = $("#HTMLContent_Photo");
            $.ajax({
                type: "POST",
                url: "../3_Channel_Sosmed.asmx/GetDataContentCommentPhoto",
                data: jsonText,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var json = JSON.parse(data.d);
                    console.log(json);
                    PhotoCarouselHeader += '<div id="carousel-example-generic-Indicators" class="carousel slide" data-ride="carousel"> ' +
                        '<!-- Indicators --> ' +
                        '<ol class="carousel-indicators"> '
                    CarouselSambung += '</ol> ' +
                        '<!-- Wrapper for slides --> ' +
                        '<div class="carousel-inner" role="listbox">'
                    CarouselEnd += '</div> ' +
                        '</div>'
                    var activeImage;
                    for (i = 0; i < json.length; i++) {
                        //alert(json[i].UserCreate);
                        if (i == 0) {
                            activeImage = "active";
                        } else {
                            activeImage = "";
                        }
                        CarouselIndicators += '<li data-target="#carousel-example-generic-Indicators" data-slide-to="' + i + '" class="' + activeImage + '"></li>';
                        if (json[i].StatusType == "photo" || json[i].StatusType == "image" || json[i].StatusType == "IMAGE" || json[i].StatusType == "CAROUSEL_ALBUM") {
                            CarouselFileURL += '<div class="carousel-item ' + activeImage + '"> ' +
                                '<img src="' + json[i].FileURL + '" class="img-fluid" alt="slide-' + i + '"> ' +
                                '</div> '
                        } else {
                            CarouselFileURL += '<div class="carousel-item ' + activeImage + '"> ' +
                                '<video width="100%" height="270" controls src="' + json[i].FileURL + '"> ' +
                                'Your browser does not support the video tag. ' +
                                '</video>' +
                                '</div> '
                        }
        
                        //var stringMessages = json[i].Messages;
        
        
                    }
                    PhotoCarousel = PhotoCarouselHeader +
                        CarouselIndicators +
                        CarouselSambung +
                        CarouselFileURL +
                        CarouselEnd;
                    console.log(PhotoCarousel)
                    HTMLcontent_Photo.show();
                    HTMLcontent_Photo.append(PhotoCarousel);
                    //HTMLcontent_Photo.append(PhotoCarousel);
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    console.log(xmlHttpRequest.responseText);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            })
        
            //return PhotoCarousel;
        }
        
function getWS_ContentInboxComment(flagto, value) {

    console.log("Go to ContentInboxComment Value: " + value);
    $("#LoaderPage").show();
    $("#HTMLcontent_inboxComment").hide();

    var jsonText;

    var HTMLcontent_inboxComment = $("#HTMLcontent_inboxComment");


    jsonText = JSON.stringify({ FlagTo: flagto, postid: value });
    $.ajax({
        type: "POST",
        url: "../3_Channel_Sosmed.asmx/GetDataContentCommentInbox",
        data: jsonText,
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data) {
            var json = JSON.parse(data.d);
            var i, x, resultListContentInboxCommentSocialMedia = "";
            HTMLcontent_inboxComment.empty();


            for (i = 0; i < json.length; i++) {
                //alert(json[i].UserCreate);

                var stringTotal = json[i].ID;
                var stringMessages = json[i].Messages;
                var stringName = json[i].ProfileName;
                var stringDate = json[i].DateGetSosmed;
                var stringStatusType = json[i].StatusType;


                if (stringMessages != "") {
                    resultListContentInboxCommentSocialMedia = '<div class="media-list media-list-divided bg-lighter">' +
                        '<div class="media">' +
                        '<!--<a class="avatar" href="#">' +
                        '<img src="../images/avatar/6.jpg" alt="...">' +
                        '</a>-->' +
                        '<div class="media-body">' +
                        '<p>' +
                        '<a href="#"><strong>' + stringName + '</strong></a>' +
                        '<time class="float-right text-fade" datetime="2017-07-14 20:00">' + json[i].DateGetSosmed + '</time>' +
                        '</p>' +
                        '<p>' + stringMessages + '</p>' +
                        '<div class="gap-items-4 mt-10">' +
                        '<!--<a class="text-fade hover-light" href="#">' +
                        '<i class="fa fa-thumbs-up mr-1"></i> 0' +
                        '</a>-->' +
                        '<a class="text-fade hover-light" href= "#" onclick="getWS_ContentInboxCommentReply(\'' + json[i].HeaderSosmed + '\',\'' + json[i].DetailSosmed + '\',\'' + json[i].IDTable + '\')"> ' +
                        '<i class="fa fa-comment mr-1" ></i> ' + json[i].Total + '' +
                        '</a> ' +
                        '<!--<a onclick="showActionDo(\'Reply\',\'' + getParameterByName('flagto') + '\',\'' + json[i].DetailSosmed + '\',\'' + json[i].IDTable + '\')" class="text-fade hover-light" href="#">' +
                        '<i class="fa fa-reply mr-1"></i>' +
                        '</a>-->' +
                        '</div>' +
                        '<div id="HTMLcontent_inboxCommentReply_' + json[i].IDTable + '">' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>';

                    HTMLcontent_inboxComment.show();
                    HTMLcontent_inboxComment.append(resultListContentInboxCommentSocialMedia);
                }

            }
           
        },
        error: function (xmlHttpRequest, textStatus, errorThrown) {
            console.log(xmlHttpRequest.responseText);
            console.log(textStatus);
            console.log(errorThrown);
        }
    })
    $("#LoaderPage").hide();
}

function getWS_ContentInboxCommentReply(value, valcommentid, idtable) {

    console.log("Go to ContentInboxCommentReply Comment ID: " + valcommentid);
    $("#LoaderPage").show();
    //$("#HTMLcontent_inboxComment").hide();

    var jsonText;


    //var HTMLcontent_inboxComment = $("#HTMLcontent_inboxComment");
    var HTMLcontent_inboxCommentReply = $("#HTMLcontent_inboxCommentReply_" + idtable);

    jsonText = JSON.stringify({ postid: value, commentid: valcommentid });
    $.ajax({
        type: "POST",
        url: "../3_Channel_Sosmed.asmx/GetDataContentCommentReplyInbox",
        data: jsonText,
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data) {
            var json = JSON.parse(data.d);
            var i, x, resultListContentInboxCommentReplySocialMedia = "";
            HTMLcontent_inboxCommentReply.empty();


            for (i = 0; i < json.length; i++) {
                //alert(json[i].UserCreate);

                var stringTotal = json[i].ID;
                var stringMessages = json[i].Messages;
                var stringName = json[i].ProfileName;
                var stringDate = json[i].DateGetSosmed;
                var stringStatusType = json[i].StatusType;


                if (stringMessages != "") {
                    resultListContentInboxCommentReplySocialMedia = '<div class="media px-0 mt-0">' +
                        '&nbsp;' +
                        '&nbsp;' +
                        '&nbsp;' +
                        '<div class="media-body">' +
                        '<p>' +
                        '<a href="#"><strong>' + stringName + '</strong></a>' +
                        '<time class="float-right text-fade" datetime="' + stringDate + '">' + stringDate + '</time>' +
                        '</p>' +
                        '<p>' + stringMessages + '<!--<a onclick = "showActionDoReplyComment(\'Reply\',\'' + getParameterByName('flagto') + '\',\'' + valcommentid + '\',\'' + json[i].IDTable + '\',\'' + stringName + '\')" class="text-fade hover-light" href = "#" > ' +
                        '<i class="fa fa-reply mr-1"></i>' +
                        '</a>--></p>' +
                        '</div>' +
                        '</div>';

                    HTMLcontent_inboxCommentReply.show();
                    HTMLcontent_inboxCommentReply.append(resultListContentInboxCommentReplySocialMedia);
                }

            }
            $("#LoaderPage").hide();
        },
        error: function (xmlHttpRequest, textStatus, errorThrown) {
            console.log(xmlHttpRequest.responseText);
            console.log(textStatus);
            console.log(errorThrown);
        }
    })
    //openNewBackgroundTabGETCommentReply(valcommentid);
}

        $(document).ready(function () {
            console.log("Conversation ID " + getParameterByName('convid'));
           
            //console.log("Go to ContentInboxMessage Value: " + value);
            $("#LoaderPageChat").show();
            $("#HTMLcontent_inboxMessage").hide();
            $("#HTMLcontent_inboxCommentMessage").empty();

            //ini popup auto sync di awal show_CustSync(value);
            //getWS_MasterLeadsAPI(value);

            var jsonText;

            var HTMLcontent_header_inbox = $("#HTMLcontent_header_inboxMessage");
            var HTMLcontent_inbox = $("#HTMLcontent_inboxMessage");
            var agentName = "0";

            jsonText = JSON.stringify({ FlagTo: 'WAhistory', postid: getParameterByName('convid') });
            $.ajax({
                type: "POST",
                url: "../3_Channel_Sosmed.asmx/GetDataContentInboxMessage",
                data: jsonText,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var json = JSON.parse(data.d);
                    var i, x, resultListContentInboxSocialMedia = "", resultListContentHeaderSocialMedia = "";
                    HTMLcontent_header_inbox.empty();
                    HTMLcontent_inbox.empty();
                    for (i = 0; i < 1; i++) {
                        var stringMessages = json[i].Messages;
                        var stringName = json[i].ProfileName;
                        var stringDate = json[i].DateGetSosmed;
                        var stringStatusType = json[i].StatusType;
                        var stringTotal = json[i].Total;
                        var profilePIC = json[i].DetailSosmed;
                        //'108013364840736_241445191497552' sample header id
                        getWS_ContentInbox(getParameterByName('flagto'),getParameterByName('headerid'),getParameterByName('headerid'))
                        agentName = json[i].StatusType;
                        resultListContentHeaderSocialMedia = '<div class="media align-items-top p-0">' +
                            '<div class="d-lg-flex d-block justify-content-between align-items-center w-p100">' +
                            '<div class="media-body mb-lg-0 mb-20">' +
                            '<p class="font-size-16">' +
                            '<a class="hover-primary" href="#"><strong>' + stringName + '</strong></a>' +
                            '</p>' +
                            '<p class="font-size-12">' + stringDate + '</p>' +
                            '</div>' +
                            '<div>' +
                            '</div>' +
                            '</div>' +
                            '</div>';
                        HTMLcontent_header_inbox.append(resultListContentHeaderSocialMedia);
                    }
                    for (i = 0; i < json.length; i++) {
                        //alert(json[i].UserCreate);
                        console.log(json[i]);
                        var stringMessages = json[i].Messages;
						console.log(stringMessages);
                        var stringName = json[i].ProfileName;
                        var stringDate = json[i].DateGetSosmed;
                        var stringStatusType = json[i].StatusType;
                        var stringTotal = json[i].Total;
                        var flagToChat = json[i].FlagTo;
                        var profilePIC = json[i].DetailSosmed;
                        var varFileNya = 0;
                        if (!profilePIC.match(/.(jpg|jpeg|png|gif)$/i)) {
                            console.log('Non image');
                            if (profilePIC == "0" || profilePIC == "") {
                                varFileNya = "";
                            } else {
                                varFileNya = '<div><a href="../' + profilePIC + '"> ' +
                                    '<a href="../' + profilePIC + '" target="_blank"> Download...' +
                                    '</a></div>';
                            }
                        } else {
                            console.log('This is image');
                            if (profilePIC == "0" || profilePIC == "") {
                                varFileNya = "";
                            } else {
                                varFileNya = '<div><a href="' + profilePIC + '"> ' +
                                    '<img src="' + profilePIC + '"> ' +
                                    '</a></div>';
                            }
                        }
                
                        if (flagToChat == "customer") {
                            resultListContentInboxSocialMedia =
                                '<div class="card d-inline-block mb-3 float-left mr-2 no-shadow bg-lighter max-w-p80"> ' +
                                '<div class="position-absolute pt-1 pr-2 r-0"> ' +
                                '<span class="text-extra-small text-muted">' + stringDate + '</span> ' +
                                '</div> ' +
                                '<div class="card-body"> ' +
                                '<div class="d-flex flex-row pb-2"> ' +
                                '<div class="d-flex flex-grow-1 min-width-zero"> ' +
                                '<div class="m-2 pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between"> ' +
                                '<div class="min-width-zero"> ' +
                                '<p class="mb-0 font-size-16 text-dark">' + stringName + '</p> ' +
                                '</div> ' +
                                '</div> ' +
                                '</div> ' +
                                '</div> ' +
                            '<div class="chat-text-left pl-10"> ' +
                            varFileNya +
                                '<p class="mb-0 text-semi-muted">' + stringMessages + '</p> ' +
                                '</div> ' +
                                '</div> ' +
                                '</div><div class="clearfix"></div>';
                        } else if (flagToChat == "agent" ) { 
                        resultListContentInboxSocialMedia =
                            '<div class="card d-inline-block mb-3 float-right mr-2 bg-primary max-w-p80"> ' +
                            '<div class="position-absolute pt-1 pl-2 l-0"> ' +
                            '<span class="text-extra-small">' + stringDate + '</span> ' +
                            '</div> ' +
                            '<div class="card-body"> ' +
                            '<div class="d-flex flex-row pb-2"> ' +
                            '<div class="d-flex flex-grow-1 justify-content-end"> ' +
                            '<div class="m-2 pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between"> ' +
                            '<div> ' +
                            '<p class="mb-0 font-size-16">' + agentName + '</p> ' +
                            '</div> ' +
                            '</div> ' +
                            '</div> ' +
                                '</div> ' +
                            '<div class="chat-text-left pr-20"> ' +
                            varFileNya +
                            '<p class="mb-0 text-semi-muted">' + stringMessages + '</p> ' +
                            '</div> ' +
                            '</div> ' +
                                '</div><div class="clearfix"></div>';
                        }
                        $("#LoaderPageChat").hide();
                        HTMLcontent_inbox.show();
                        HTMLcontent_inbox.append(resultListContentInboxSocialMedia);
                    }

                    //getWS_PhotoSocialMedia(value);

                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    console.log(xmlHttpRequest.responseText);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            })
        });
    </script>
</head>

<body class="hold-transition light-skin theme-primary">
    <div class="box bg-lightest">
        <div class="box-header">
            
            <div id="HTMLcontent_header_inboxMessage"></div>
        </div>
        <!-- Loader -->
        <center><div class="spin2" id="LoaderPageChat"></div></center>
        <!--End-->
        <div class="box-body">
			<div class="col-lg-6 col-12">
					<div class="row">
						<div class="col-lg-12 col-12">
							<div class="box">
							  <div class="box-header">
								<div id="HTMLcontent_header_inbox"><div class="media align-items-top p-0"><div class="d-lg-flex d-block justify-content-between align-items-center w-p100"><div class="media-body mb-lg-0 mb-20"><p class="font-size-16"><a class="hover-primary" href="#"><strong>Tri Cipta Integra</strong></a></p><p class="font-size-12">30 Jan 2022</p></div></div></div></div>
							  </div>

							  <div class="box-body mb-30">
                                  <!-- Loader -->
                                        <center><div class="spin2" id="LoaderPage" style="display: none;"></div></center>
                                  <!--End-->
								  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 290px;"><div class="chat-box-one" style="overflow: hidden; width: auto; height: 290px;">
                                            
									  <div class="col-lg-12">
                                            <div class="col-lg-12">
                                                <div class="box">
                                                <!-- Header Post-->
                                                    <div id="HTMLcontent_inbox">
                                                    </div>
                                                <!--End Header Post-->
                                                <!-- Comment #1-->
                                                    <div id="HTMLcontent_inboxComment">
                                                    </div>
                                                <!-- End Comment #1-->
                                                <!-- Comment Reply #1-->
                                                    
                                                <!-- End Comment Reply #1-->
                                                </div>
                                            </div>
			                          </div>
								  </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.05; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 548.982px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
							  </div>
								<div id="socialMediaFooter" class="box-footer" style="display: none;">
									<div class="d-md-flex d-block justify-content-between align-items-center">
										
                                        <textarea rows="3" id="txtReplyMessenger" class="form-control" placeholder="Say something..."></textarea>
										<div class="d-flex justify-content-between align-items-center mt-md-0 mt-30">
                                           
                                             &nbsp;&nbsp;&nbsp;
                                            <div class="">
								              
								                  <div class="dropdown">
									                <button type="button" class="waves-effect waves-circle btn btn-circle mr-10 btn-outline-secondary" data-toggle="dropdown">
												        <i class="fa fa-reorder"></i>
											        </button>
									                <div class="dropdown-menu">
                                                      
									                    
                                                        <a onclick="generateLink()" class="dropdown-item" href="#">Direct To Whatsapp Official</a>
									                  

									                </div>
								                  </div>
							                  </div>
											&nbsp;
											<button onclick="ActionReplyInboxMessages()" type="button" class="waves-effect waves-circle btn btn-circle btn-primary">
												<i class="mdi mdi-send"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
			  </div>
            <div class="chat-box-one2">
             
				<div class="col-lg-6 col-12">
					<div class="box">
						<div id="HTMLcontent_inboxMessage"></div>
					</div>
				</div>
			
            </div>


        </div>

    </div>
    <!-- /.content-wrapper -->
</body>
</html>
