<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/favicon.ico">

    <title>Chat Bot Admin - Dashboard  Social Widgets</title>
  
	<!-- Vendors Style-->
	<link rel="stylesheet" href="../css/vendors_css.css">
	  
	<!-- Style-->  
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/skin_color.css">
	
</head>

<body class="hold-transition light-skin theme-primary">
<div class="wrapper">
		  <!-- /.row -->
		  <div class="row">
		      <div class="col-lg-8 col-12">
					<div class="row">
						<div class="col-lg-12 col-12">
							<div class="box">
							  <div class="box-header">
								<div id="HTMLcontent_header_inbox"><div class="media align-items-top p-0"><div class="d-lg-flex d-block justify-content-between align-items-center w-p100"><div class="media-body mb-lg-0 mb-20"><p class="font-size-16"><a class="hover-primary" href="#"><strong>Tri Cipta Integra</strong></a></p><p class="font-size-12">30 Jan 2022</p></div></div></div></div>
							  </div>

							  <div class="box-body mb-30">
                                  <!-- Loader -->
                                        <center><div class="spin2" id="LoaderPage" style="display: none;"></div></center>
                                  <!--End-->
								  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 549px;"><div class="chat-box-one" style="overflow: hidden; width: auto; height: 549px;">
                                            
									  <div class="col-lg-12">
				                            <div class="box">
				                            <!-- Header Post-->
                                                <div id="HTMLcontent_inbox" style=""><div class="box-body bb-1 border-fade"> <p class="lead font-size-16">Test Data relationship to uidesk</p> <div style="width:350px" id="HTMLContent_Photo"><div id="carousel-example-generic-Indicators" class="carousel slide" data-ride="carousel"> <!-- Indicators --> <ol class="carousel-indicators"> </ol> <!-- Wrapper for slides --> <div class="carousel-inner" role="listbox"></div> </div></div>
												
												</div></div>
                                            <!--End Header Post-->
                                            <!-- Comment #1-->
				                                <div id="HTMLcontent_inboxComment" style=""><div class="media-list media-list-divided bg-lighter"><div class="media"><div class="media-body"><p><a href="#"><strong>World's Sakha</strong></a><time class="float-right text-fade" datetime="2017-07-14 20:00">30 Jan 2022 10:42:43</time></p><p>Boleh di informasikan kepada kami bu keperluannya seperti apa?</p>
												
												<div id="HTMLcontent_inboxCommentReply_1"><div class="media px-0 mt-20"><a class="avatar" href="#"></a><div class="media-body"><p><a href="#"><strong>Tri Cipta Integra</strong></a><time class="float-right text-fade" datetime="30 Jan 2022 10:44:38">30 Jan 2022 10:44:38</time></p><p>World's Sakha Terkait product yang kemarin saya beli, apakah sudah bisa di lakukan pengiriman?</p></div></div></div></div></div></div></div>
                                            <!-- End Comment #1-->
                                            <!-- Comment Reply #1-->
				                                
                                            <!-- End Comment Reply #1-->
				                            </div>
			                          </div>
								  </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.05; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 548.982px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
							  </div>
								<div id="socialMediaFooter" class="box-footer" style="display: none;">
									<div class="d-md-flex d-block justify-content-between align-items-center">
										
                                        <textarea rows="3" id="txtReplyMessenger" class="form-control" placeholder="Say something..."></textarea>
										<div class="d-flex justify-content-between align-items-center mt-md-0 mt-30">
                                           
                                             &nbsp;&nbsp;&nbsp;
                                            <div class="">
								              
								                  <div class="dropdown">
									                <button type="button" class="waves-effect waves-circle btn btn-circle mr-10 btn-outline-secondary" data-toggle="dropdown">
												        <i class="fa fa-reorder"></i>
											        </button>
									                <div class="dropdown-menu">
                                                      
									                    
                                                        <a onclick="generateLink()" class="dropdown-item" href="#">Direct To Whatsapp Official</a>
									                  

									                </div>
								                  </div>
							                  </div>
											&nbsp;
											<button onclick="ActionReplyInboxMessages()" type="button" class="waves-effect waves-circle btn btn-circle btn-primary">
												<i class="mdi mdi-send"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
			  </div>
			  <div class="col-lg-6">
				<div class="box">
				  <div class="media bb-1 border-fade">
					
					<div class="media-body">
					  <p>
						<strong>Denial Webar</strong>
						<time class="float-right text-fade" datetime="2017">24 min ago</time>
					  </p>
					  <p><small>Designer</small></p>
					</div>
				  </div>

				  <div class="box-body bb-1 border-fade">
					<p class="lead">Authoritatively syndicate goal-oriented leadership skills for clicks-and-mortar outsourcing. Synergistically reconceptualize enabled catalysts for change.</p>

					<div class="gap-items-4 mt-10">
					  <a class="text-fade hover-light" href="#">
						<i class="fa fa-thumbs-up mr-1"></i> 1254
					  </a>
					  <a class="text-fade hover-light" href="#">
						<i class="fa fa-comment mr-1"></i> 25
					  </a>
					  <a class="text-fade hover-light" href="#">
						<i class="fa fa-share-alt mr-1"></i> 12
					  </a>
					</div>
				  </div>


				  <div class="media-list media-list-divided bg-lighter">
					<div class="media">
					 
					  <div class="media-body">
						<p>
						  <a href="#"><strong>Rock Tele</strong></a>
						  <time class="float-right text-fade" datetime="2017-07-14 20:00">Just now</time>
						</p>
						<p>Uniquely enhance world-class channels with just in time schemas.</p>

						<div class="media px-0 mt-20">
						  
						  <div class="media-body">
							<p>
							  <a href="#"><strong>Brock Lensar</strong></a>
							  <time class="float-right text-fade" datetime="2017-07-14 20:00">26 mins ago</time>
							</p>
							<p>Thank you for your nice comment.</p>
						  </div>
						</div>

					  </div>
					</div>

					<div class="media">
					 
					  <div class="media-body">
						<p>
						  <a href="#"><strong>Tony Stark</strong></a>
						  <time class="float-right text-fade" datetime="2017-07-14 20:00">2 hours ago</time>
						</p>
						<p>Continually drive user friendly solutions through performance based infomediaries.</p>
					  </div>
					</div>
				  </div>

				  <form class="publisher bt-1 border-fade bg-white">
					<img class="avatar avatar-sm" src="../images/avatar/4.jpg" alt="...">
					<input class="publisher-input" type="text" placeholder="Add Your Comment">
					<a class="publisher-btn" href="#"><i class="fa fa-smile-o"></i></a>
					<span class="publisher-btn file-group">
					  <i class="fa fa-camera file-browser"></i>
					  <input type="file">
					</span>
				  </form>

				</div>
			  </div>

		  </div>
		<!-- /.content -->
</div>
  <!-- /.content-wrapper -->	
</body>
</html>
