<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="devExpress">
			<section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v20.1, Version=20.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v20.1, Version=20.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v20.1, Version=20.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v20.1, Version=20.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v20.1, Version=20.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=cloud.uidesk.id;Initial Catalog=KANMO;Max Pool Size=50000;Pooling=True;User ID=Sa;Password=Sa212" />-->
		<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=103.59.94.243;Initial Catalog=KANMO;Max Pool Size=50000;Pooling=True;User ID=sa;Password=Uid35k32!J4y4J4y4" />
		<add name="DatakelolaConnection" providerName="System.Data.SqlClient" connectionString="Data Source=cloud.uidesk.id;Initial Catalog=Datakelola;Max Pool Size=50000;Pooling=True;User ID=sa;Password=Sa212" />
		<!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=cloud.uidesk.id;Initial Catalog=KANMO;Max Pool Size=50000;Pooling=True;User ID=Sa;Password=Sa212" />-->

		<!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=10.28.2.224;Initial Catalog=BRILIFE_OmniChannel;User ID=sa;Password=Sa212" />-->
		<!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1;Initial Catalog=BRILIFE_OmniChannel;User ID=sa;Password=Sa212" />-->
		<!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=103.66.46.141;Initial Catalog=omnichannel_dev;User ID=sa;Password=Icononline2012" />-->
		<add name="Excel03ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
		<add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
	</connectionStrings>
	<appSettings>
		<add key="CTIkedeCall" value="9" />
		<add key="Logsys" value="~/log/" />
		<add key="AddCookiess" value="1" />
		<add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />
		<add key="FileCopy" value="http://192.168.37.28/movefile/copyfile.php" />
		<add key="FileCopyUser" value="uidesk" />
		<add key="FileCopyAccess" value="uidesk12345" />
	</appSettings>
	<system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="kanmodemo@uidesk.id">
        <network host="srv128.niagahoster.com" port="465" enableSsl="true" userName="kanmodemo@uidesk.id" password="Uidesk123!" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
	<system.web>
		<!--<customErrors mode="On" defaultRedirect="login.aspx?handler=customErrors%20section%20-%20Web.config">
      <error statusCode="404" redirect="login.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config"/>
    </customErrors>-->
	
	<httpCookies sameSite="None" requireSSL="true" />
		<pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never"></pages>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2">
			<assemblies>
				<add assembly="DevExpress.Web.v20.1, Version=20.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Data.v20.1, Version=20.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Printing.v20.1.Core, Version=20.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="DevExpress.RichEdit.v20.1.Core, Version=20.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="DevExpress.Web.ASPxHtmlEditor.v20.1, Version=20.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.SpellChecker.v20.1.Core, Version=20.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Office.v20.1.Core, Version=20.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Web.ASPxThemes.v20.1, Version=20.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
			</assemblies>
		</compilation>
		<httpRuntime requestValidationMode="2.0" maxRequestLength="214748364" executionTimeout="100000" requestPathInvalidCharacters="&lt;,>,%,&amp;,:,\,?" encoderType="System.Web.Security.AntiXss.AntiXssEncoder" />
		<httpModules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v20.1, Version=20.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
		</httpModules>
		<httpHandlers>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v20.1, Version=20.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
			<add verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v20.1, Version=20.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
			<add validate="false" verb="GET,POST" path="DXXCD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v20.1, Version=20.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		</httpHandlers>
		<sessionState mode="InProc" sqlCommandTimeout="360" timeout="1440" />
		<!--<customErrors mode="RemoteOnly" defaultRedirect="apps/error_404.html">
			<error statusCode="404" redirect="apps/error_404.html?" />
			<error statusCode="500" redirect="apps/error_500.html?" />
		</customErrors>-->
		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
		</webServices>
		<hostingEnvironment shadowCopyBinAssemblies="false"></hostingEnvironment>
	</system.web>
	<system.webServer>
		<!--<httpErrors errorMode="Custom" existingResponse="Replace" >
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" subStatusCode="3" path="~/apps/error_404.html" responseMode="ExecuteURL" />
		</httpErrors>
		
		<httpProtocol>
			<customHeaders>
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
				<add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
			</customHeaders>
		</httpProtocol>-->
		<httpProtocol>
		  <customHeaders>
			<!--<add name="X-Frame-Options" value="SAMEORIGIN" />-->
			<add name="Access-Control-Allow-Origin" value="*" />
			<add name="Access-Control-Allow-Methods" value="*" />
			<add name="Access-Control-Allow-Headers" value="*" />
		  </customHeaders>
		</httpProtocol>
		<!--<httpErrors errorMode="Custom" >
			<remove statusCode="404" subStatusCode="-1"/>
			<error statusCode="404" path="~/error404.html" responseMode="ExecuteURL" />
		</httpErrors>-->
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="334217728" />
			</requestFiltering>
		</security>
		<modules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v20.1, Version=20.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v20.1, Version=20.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v20.1, Version=20.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
			<add name="ASPxChartDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXCD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v20.1, Version=20.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		</handlers>
		<defaultDocument>
			<files>
                <add value="auth_local.aspx" />
				<add value="auth_login.aspx" />
				<add value="local.aspx" />
				<add value="login.aspx" />
			</files>
		</defaultDocument>
		<staticContent>
			<remove fileExtension=".txt" />
		</staticContent>
		<httpErrors errorMode="Custom">
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" subStatusCode="3" path="/error_404.html" responseMode="ExecuteURL" />
		</httpErrors>
		<httpRedirect enabled="false" destination="" childOnly="false" />
	</system.webServer>
	<devExpress>
		<themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" baseColor="" font="" />
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
		<settings doctypeMode="Xhtml" rightToLeft="false" accessibilityCompliant="false" bootstrapMode="" checkReferencesToExternalScripts="true" protectControlState="true" ieCompatibilityVersion="edge" />
		<errors callbackErrorRedirectUrl="" />
	</devExpress>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="MainTrxSoap" />
				<binding name="InfoBillingSoap" />
				<binding name="InfoBillingSoap1" />
			</basicHttpBinding>
		</bindings>
	</system.serviceModel>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483647" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
